#root {
  max-width: 97rem;
  /* Updated from 80rem to 97rem */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: brightness(0.8);
}